.gen{
    z-index: 1;
    width: 250px;
    height: 80px;
    background-color: white;
    display: grid;
    grid-template-columns: 50px 1fr;
    border-radius: 6px;
    box-shadow: 0 5px 8px rgba(0 , 0, 0, 0.25);
    border: none;
    position: absolute;
    left: 0;
    bottom: -95px;
    opacity: 0;
    transition: opacity o.15s;
    pointer-events: none;
    
}
.pi{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 5px;
    

    
    
}
.uno{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.dos{
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    
}
.name{
    font-family: roboto,arial;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
}
.sub{
    color: rgb(96, 96, 96);
    margin-top: 0;
}
.img:hover .gen{
    opacity: 1;
}
.img{
    position: relative;
}

